<div class="pokebg bg-type-{{ pokemon.types[0].type.name }}">
  <section *ngIf="pokemon">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card border-0">
        <div
          class="card-name d-flex justify-content-between p-3 align-items-center bg-type-{{
            pokemon.types[0].type.name
          }}"
        >
          <h5 class="card-title text-capitalize">
            {{ pokemon.id }} - {{ pokemon.name }}
          </h5>
          <button
            class="btn"
            routerLink="/pokemon-list"
            style="position: relative"
          >
            <i class="fa fa-search text-light"></i>
          </button>
        </div>
        <div class="card-img">
          <div class="card-img-actions">
            <i
              class="fa fa-chevron-left"
              (click)="changePokemon(pokemon.id - 1)"
            ></i>
            <i
              class="fa fa-chevron-right"
              (click)="changePokemon(pokemon.id + 1)"
            ></i>
          </div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{
              pokemonId
            }}.png"
            class="card-img-top bg-type-{{ pokemon.types[0].type.name }}"
            alt="Pokémon"
          />
        </div>
        <ul
          class="list-group list-group-flush bg-type-{{
            pokemon.types[0].type.name
          }}"
        >
          <li class="list-group-item">
            <b>Type: </b>
            <span *ngFor="let type of pokemon.types" class="text-capitalize">
              <img
                src="../../assets/icons/type/{{ type.type.name }}.svg"
                style="height: 24px"
                title="{{ type.type.name }}"
              />
              <span
                style="margin-right: 5px"
              >
                {{ type.type.name }}
              </span>
            </span>
          </li>
          <li class="list-group-item">
            <b>Abilities: </b><br />
            <span
              *ngFor="let abil of pokemon.abilities"
              class="text-capitalize"
            >
              <i class="fa fa-star text-warning"></i>
              <span> {{ abil.ability.name }} </span>
              <i
                *ngIf="!abil.is_hidden"
                class="fa fa-eye-slash"
                title="Hidden Ability"
              ></i>
              <br />
            </span>
          </li>
          <li class="list-group-item">
            <b>Height: </b>
            <span>{{ pokemon.height }} f</span>
          </li>
          <li class="list-group-item">
            <b>Weight: </b>
            <span>{{ pokemon.weight }} lbs.</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
