<div *ngIf="pokemonList.length !== 0" class="list-group list-group-flush">
  <div class="search p-3">
    <div class="input-group">
      <button class="btn bg-branco" style="pointer-events: none" type="button">
        <i class="fa fa-search fa-fw"></i>
      </button>
      <input
        type="text"
        class="form-control"
        placeholder="Search Pokémon"
        (keyup)="searchPokemon($event)"
      />
    </div>
  </div>
  <ng-container *ngFor="let pokemon of pokemonList; let i = index">
    <div
      *ngIf="
        pokemon.name.includes(searchValue) || (i + 1).toString() == searchValue
      "
      class="list-group-item"
      (click)="goToPokemon(i + 1)"
    >
      {{ i + 1 }} - <span class="pokemon-name">{{ pokemon.name }}</span>
    </div>
  </ng-container>
</div>
