<section class="container">
  <div class="menu">
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
    <div class="menu-item">
      <button class="btn btn-danger btn-lg" routerLink="/pokemon-list">
        <i class="fa fa-list"></i>
      </button>
      <span class="menu-item-text">Pokémon List</span>
    </div>
  </div>
</section>
