$danger: #913b3b;
$success: #379c55;
$info: #2d94d8;
$warning: #e4d237;

//colors
$pokeRed: #cc1717;
$pokeGray: #b8b8b8;

//types
$typeBug: #83c300;
$typeDark: #5b5466;
$typeDragon: #006fc9;
$typeElectric: #fbd100;
$typeFairy: #fb89eb;
$typeFighting: #e0306a;
$typeFire: #ff9741;
$typeFlying: #89aae3;
$typeGhost: #4c6ab2;
$typeGrass: #38bf4b;
$typeGround: #e87236;
$typeIce: #4cd1c0;
$typeNormal: #919aa2;
$typePoison: #b567ce;
$typePsychic: #ff6675;
$typeRock: #c8b686;
$typeShadow: #5b5466;
$typeSteel: #5a8ea2;
$typeWater: #3692dc;

//cinzas
$preto: #3f413d;
$cinza200: #636663;
$cinza300: #c8c8c8;
$cinza400: #efefef;
$branco: #ffffff;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
