@import "./custom-bootstrap-theme";
@import "./node_modules/bootstrap/scss/bootstrap";

@import "swiper/scss";
@import "swiper/css/bundle";

html,
body {
  height: 100%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
select,
select:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.darken3,
.darken5 {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.darken3 {
  &::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.darken5 {
  &::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
