.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(255, 255, 255, 0.8);
  z-index: 1000;

  &-image {
    width: 5rem;
    animation: pokeball 0.6s linear infinite;
  }

  @keyframes pokeball {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
